# Objects and Executables
*.o
*.so
*.elf
*.lib
*.a
*.out
*.slo
*.lo
*.obj
*.lib

# Perf data
*.gcno
*.gcda

# LaTeX Ignores
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

# Directories
[Bb]in/
[Bb]uild/
[Bb]tmp/
[Dd]ist/

CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt

AtrophyScanner.cc
AtrophyParser.cc
AtrophyParser.hh
stack.hh
location.hh
position.hh
